fastapi==0.76.0
uvicorn==0.17.6
pydantic==1.9.0
motor==3.0.0
sentry-sdk==1.5.11
python-jose==3.3.0
httpx==0.22.0
PyJWT==2.3.0
celery==5.2.6

# GCP
google-cloud-bigquery==3.4.1
google-cloud-bigtable==2.9.0
google-cloud-storage==2.3.0

# Azure
azure-storage-blob==12.11.0
azure-cosmos==4.2.0
